[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false  # Разрешить нетипизированные функции
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = false  # Разрешить нетипизированные декораторы
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
strict_equality = true

[[tool.mypy.overrides]]
module = [
    "app.*"
]
disallow_untyped_defs = false
